
html, body, .capa {
height: 100%;
overflow: auto;
}

body {
background-attachment: flex;
font-family: Helvetica,Arial,sans-serif;
overflow-x: none;
}

.img-logo {
height: 300px;
width: 400px;
display: inline-block;
background: url('/images/LogoBranco.png') no-repeat;
background-size: contain;
color: transparent;
margin-top: 35%;
margin-right: 40%;
margin-bottom: 20%;
}

.menu {
background-color: #0e010100;
text-align: right;

}

.menu ul li {
margin-top: 1%;
display: inline-block;
}

.menu ul li a {
display: block;
color: #FFFFFF;
padding: 30px 10px;
}

.img-logo-footer{
height: 100px;
width: 200px;
display: block;
background: url('/images/LogoBranco.png') no-repeat;
background-size: contain;
color: transparent;
margin-right: 20%;
}

nav.navbar-transparente {
padding: 10%;
border: none;
background-image: url("/images/Header.jpg"); background-size: 100% 150%; background-repeat: no-repeat;

}

.navbar-brand{
padding: 5px 15px;
}

.divisor{
width: 1px;
height: 16px;
background: white;
margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
color: #9bf0e1;
background: none;
}

.capa {
display: table;
width: 100%;
}

.texto-capa {
text-align: center;
color: white;
display: table-cell;
vertical-align: middle;
}

#youtube {
background-color: white;
padding-top: 20px;
padding-bottom: 20px;
}

/* -- SERVICO -- */
.servicos {
background-image: url('/images/Sinta.jpg'); background-size: 100% 100%; background-repeat: no-repeat;
font-size: 10 px;
padding: 10%;
}



/* -- RECURSO -- */
#recursos {
padding-top: 20px;
padding-bottom: 20px;
color: white;
}

.rotacionar{
transform: rotate(30deg);
-ms-transform: rotate(30deg); /* IE 9 */
-webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
padding-left: 80px;
}

/* -- FOOTER -- */
footer {
background: rgb(241, 241, 241)
linear-gradient(50deg,#ff4169,#7c26f8);
position: relative;
}

.item-rede-social{
float: right;
}

/* ========================= tipografia ======================== */
h1 {
font-weight: 900;
letter-spacing: -0.05em;
margin-bottom: 80%;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
h1 {
font-size: 50px; 
}

.btn-custom {
margin: 10px 15px;
}
}

/* sm */
@media screen and (min-width: 768px) {
h1 {
font-size: 70px; 
}

}

/* md */
@media screen and (min-width: 992px) {
h1 {
font-size: 80px; 
}
}

/* lg */
@media screen and (min-width: 1200px) {
h1 {
font-size: 100px; 
}
}
/* Fim Medias */


h2{
font-size: 50px;
font-weight: 700;
letter-spacing: -0.04em;
}

h3{
font-size: 35px;
font-weight: 700;
letter-spacing: -0.04em;
}

.direitos  {
color: #ffffff;
font-size: 12px;
text-transform: uppercase;
text-align: center; 
margin-right: 40%;   
}

#servicos h2, #servicos h3 {
color: #7c25f8;
}


a i{
display: inline-flex;
text-align: center;
font-size: 200%;
color: rgb(255, 255, 255);

}

@media ( max-width:900px ) {
.img-logo {
height: 250x;
width: 250px;
}
nav.navbar-transparente {
padding: 5%;
border: none;
background-image: url("/images/Header.jpg"); background-size: 100% 50%; background-repeat: no-repeat;
margin-bottom: 3%;
}

.servicos {
background-image: url('/images/Sinta.jpg'); background-size: 100% 60%; background-repeat: no-repeat;
font-size: 10 px;
padding: 5%;
}


}